<!DOCTYPE html>
<html>
  <head>
    <title>TeachingSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<!-- <a class="navbar-brand" href="/">Eveleth Tutoring</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home/courses">Courses</a>
					</li>
				</ul>
				<!-- <form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" id="course-search" placeholder="Search Courses" aria-label="Search">

					<select id="selector" class="selectpicker" data-live-search="true">

					</select>
					<button class="btn btn-outline-success my-2 my-sm-0" id="submit" type="submit">Search</button>
				</form> -->
				<% if user_signed_in? %>
				<%= link_to image_tag("niceish_photo_of_me.jpg", :class => "nav-user-logo") + "My Account", url_for({ :controller => 'home', :action => 'account' }), :class => "my-account" %>
				<% end %>
			</div>
		</nav>
    <%= yield %>
    <footer style="background:black;" class="fixed-footer">
    	<div class="row">
    		<div class="col-md-9"></div>
    		<div class="col-md-3 footer-site-title">
    			Eveleth-Tutoring
    		</div>
    	</div>
    </footer>
  </body>
</html>

<script type="text/javascript">
	jQuery(function($){

		populateCourses();
		var courses;

		function populateCourses() {
			$.ajax({
				url: '/home/get_courses',
				dataType: 'json',
				success: function(data) {
					console.log(data);
					courses = data;	
					$(courses).each(function(){
						$('#selector').append('<option>'+this.name+'<option>');
					});
				}
			});
		}
		$('#course-search').on("input", function(e){
			e.preventDefault();
			console.log(this.value);
			// var name = $('#name').val(),
			// 	desc = $('#desc').val(),
			// 	difficulty = $('#difficulty').val();

			// $.ajax({
			// 	url: '/home/create_course',
			// 	dataType: 'json',
			// 	data: {name:name, desc:desc, difficulty:difficulty},
			// 	success: function(data) {
			// 		console.log(data);
			// 	}
			// });
		});

		$('#submit').click(function(e){
			e.preventDefault();

			var searched_course = $(this).siblings('input').val();

			$(courses).each(function(){
				if(this.name == searched_course) {
					window.location = '/home/course/'+this.id;
				}
			});
		});

	});
</script>


<style type="text/css">
body,html {
	margin:0;
	max-width: 100%;
	overflow-x:hidden;
	overflow-y: scroll;
	background: #e9ecef;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.my-account, .nav-link {
	text-decoration: none;
	color: white !important;
}

.collapse ul li a:hover, .collapse a:hover {
	color:darkgrey !important;
	text-decoration: none;
}

.fixed-footer {
	position: absolute;
	height: 100px;
	width: 100%;
}

.footer-site-title {
	color: white;
	font-size: 25px;
	text-align: center;
	line-height: 4;
}

.nav-user-logo {
	width: auto;
	height: auto;
	max-width: 38px;
	margin: 0 10px;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.filler-section {
	background: black;
	width: 100vw;
	/*height: 150px;*/
}

.linked-section {
	width: 100vw;
	border-top: .1px solid lightgray;
	/*height: 350px;*/
}

.linked-section .row .col-md-7 {
	font-size: 60px;
	text-align: center;
	/*line-height: 5;*/
}

.card:hover {
	cursor: pointer;
}

.img-section {
	height: 60%;
}

.card {
	-webkit-box-shadow: 10px 10px 34px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 34px -7px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 34px -7px rgba(0,0,0,0.75);
	margin: auto !important;
	margin-bottom: 15px !important;
	border: none;
	border-radius: 0
}

.card:first-of-type {
	margin-top: 15px !important;
}

.jumbotron h1 {
	text-align: center;
}

.jumbotron img {
	margin-left: calc(50% - 100px);
	border: solid black 1px;
	border-radius: 1.5%;
}

.jumbotron.main {
	margin-bottom: 0 !important;
}

.section-one {
	background: #6c747c;
	/*height: 450px;*/
	border-top: black solid 1.5px;
}
/*
	.section-one * {
		height: 100%;
	}

	.section-one * .row * img {
		margin-top: 10%;
		margin-left: 25%;
	}
	*/
	</style>